<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="{{ encoding }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ planet_name }} - Page {{ page }}</title>
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body class="h-full">
    <div class="drawer lg:drawer-open h-full">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col h-full">
        <div class="navbar bg-base-100 lg:hidden">
          <div class="flex-none">
            <label
              for="my-drawer-2"
              class="btn btn-square btn-ghost drawer-button"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-5 h-5 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </label>
          </div>
          <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl">{{ planet_name }}</a>
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
      <div class="drawer-side">
        <label for="my-drawer-2" class="drawer-overlay"></label>
        {% include "sidebar.html" %}
      </div>
    </div>
  </body>
</html>
