{% block sidebar %}
<ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
  <li class="menu-title">Stats</li>
  {{ stats | safe }}

  <li class="menu-title mt-4">Top Authors</li>
  <div class="pl-4 max-h-48 overflow-y-auto">{{ top_authors | safe }}</div>

  <li class="menu-title mt-4">Feeds</li>
  <div class="pl-4 max-h-96 overflow-y-auto">
    <ul>
      {% for feed in feeds %}
      <li><a href="{{ feed.url }}">{{ feed.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</ul>
{% endblock %}
